// breakpoints
$breakpoints: (
  "phone":    480px,
  "tablet":   768px,
  "desktop":  1024px,
  "wide":     1200px
);

@mixin media($width) {
  @if map-has-key($breakpoints, $width) {
    @media (max-width: map-get($breakpoints, $width)) {
      @content;
    }
  } 

  @else {
    @media (max-width: $width) {
      @content;
    }
  }
}