* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    // background: #1e1f20;
    background: #1e1f20;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 740px;
    padding: 0 20px;
    margin: 0 auto;
    @include media("tablet") {
        padding: 0 3px;
    }
}